body{
    margin: 0;
    background: #031c20;
    height: 850px;
    font-family: 'Noto Serif', serif;
}
/*Header (Шапка сайта)*/
.header{
    width: 100%;
    height: 100px;
    background-color: #031c20;
    position: absolute;
    top:0;
    left:0;
    right:0;
    z-index:1000;
}
/*To place navigation elements in a row*/
.header_inner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 170px;
    margin-left: 150px;
    height:100px;
}
.header_logo {
    margin-left: -100px;
    font-family: 'Noto Serif', serif;
    font-size: 40px;
    font-weight: 700;
    color: bisque;
}
/*Navigation*/
.nav_link{
    font-size: 25px;
    font-family: 'Noto Serif', serif;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: bisque;
    text-decoration: aliceblue;
    /*Duration of the transition*/
    transition: color 0.2s linear;
}
/*For a smooth color transition when the cursor is held up*/
.nav_link:hover{
    color: darkkhaki;
}

.next_container{
    background: url("../images/eventback.jpg");
    background-size: cover;
    height: 150vh;
    overflow: hidden;
}
.next_text{
    font-family: 'Noto Serif', serif;
    font-size: 60px;
    text-shadow: 2px 2px #000000;
    text-transform: uppercase;
    text-align: center;
    color: #26818f;
    font-style: inherit;
}

.serial_slider{
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slide_track2{
    display: flex;
    width: calc(250px * 20);
    animation: scroll 30s linear infinite;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 10));
    }
}
.slide2{
    display: flex;
    align-items: center;
    padding: 35px;
    perspective: 70px;
}
img{
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
}
img:hover{
    transform: translateZ(20px);
}

.media_container{
    min-height: 100vh;
    place-items: center;
    background: linear-gradient(to top, rgb(14, 77, 89), rgb(3, 28, 32));
}
.one{
    height: 25px;
    color: rgba(3, 32, 32, 0.98);
    background: none;
}
.main_title{
    font-family: 'Noto Serif', serif;
    font-size: 50px;
    font-weight: 400;
    text-shadow: 2px 2px #156e7e;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: bisque;
    font-style: inherit;
    text-decoration: antiquewhite;
}
.movie_dates{
    text-align: left;
    padding-left: 40px;
    font-size: 30px;
    font-family: 'Noto Serif', serif;
    color: #e8edee;
}
.rights{
    background: #031c20;
    align-items: center;
    min-height: 5vh;
}
.copyright{
    font-size:17px;
    font-style:inherit;
    font-weight:1;
    color: grey;
    text-align: center;
}